/*
* @Author: Marte
* @Date:   2017-08-28 13:55:14
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-29 01:26:12
*/
*{
  margin: 0;
  padding: 0;
}

ul li {
  list-style: 0;
}

a{
  text-decoration: none;
}

.clearfix:after,
.clearfix:before{
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

.clear{
  *zoom: 1;
}


.img-wrap .img-row{
  margin-bottom: 5px;
}

.content{
      width: 1000px;
      margin: 0 auto;
    }