/*
* @Author: Marte
* @Date:   2017-08-28 01:48:38
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-28 07:14:55
*/
@font-face {
  font-family: 'iconfont';
  /* project id 352697 */
  src: url('https://at.alicdn.com/t/font_6t1n1skk32lqh0k9.eot');
  src: url('https://at.alicdn.com/t/font_6t1n1skk32lqh0k9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_6t1n1skk32lqh0k9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_6t1n1skk32lqh0k9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_6t1n1skk32lqh0k9.svg#iconfont') format('svg');
}

.content {
  margin-top: 20px;
}

.icon {
  font-family: 'iconfont';
  font-size: 12px;
  color: #fff;
}
.icon-pre-pre{
  position: relative;
}
.icon-pre-pre:before{
  content: '\e62b';
}
.icon-pre-pre:after{
  content: '\e62b';
  position: absolute;
  top: 0;
  left: -6px;
}
.icon-pre-pre:hover,
.icon-pre:hover,
{
  cursor: pointer;
}
.icon-pre:before{
  content: '\e62b';
}
.icon-next-next{
  position: relative;
}
.icon-next-next:before{
  content: '\e62a';
  position: absolute;
  top: 0;
  left: 6px;
}
.icon-next-next:after{
  content: '\e62a';
}
.icon-next:before{
  content: '\e62a';
}
.calendar{
  display: inline-block;
  position: relative;
}

.calendar__input .date-input {


}
.calendar__select--wrap{
  position: absolute;
  top: 12px;
  display: none;
}
.calendar__select{
  display: inline-block;
  min-width: 200px;
  margin-top: 10px;
  border: 1px solid #7E7E7E;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}
.calendar__select .calendar-header{
  position: relative;
  background-color: #E85656;
  color: #fff;
  min-height: 30px;
}
.calendar__select .calendar-header>div{
  position: absolute;
  padding: 5px 0;
  text-align: center;
}
.calendar__select .calendar-header .date-pre{
  left: 10px;
}
.calendar__select .calendar-header .year-month-wrap{
  left: 50%;
  -webkit-transform: translate(-50%);
}
.calendar__select .calendar-header .date-next{
  right: 10px;
}
.calendar__select .calendar-content td,
.calendar__select .calendar-content th{
  text-align: center;
  min-width: 35px;
}
.calendar__select .calendar-content td:hover{
  background-color: #E85656;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.calendar__select .calendar-content .pass-day,
.calendar__select .calendar-content .future-day{
  color: #CBCACA;
}
.calendar__select .calendar-content .cur-day{
  text-decoration: underline;
  text-decoration-color: #E85656;
  color: #E85656;
  font-weight:700;
}
